* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: var(--font-family);
}

html {
  font-size: 50%;
}

body {
  font-size: 1.6rem;
  margin-top: 15rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-size: 5rem;
  font-weight: 700;
  color: var(--primary-color);
}

.header__subtitle {
  font-size: 2.8rem;
  color: var(--primary-color);
}

.secondary-title {
  font-size: 4rem;
  font-weight: 700;
  color: var(--primary-color);
  text-align: star;

}

.tertiary-title {
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 4.5rem;
  color: var(--secondary-color);
}

p,
.p {
  font-weight: 400;
  font-size: 2rem;
  line-height: 3.5rem;
}

p:not(:last-of-type),
.p:not(:last-of-type) {
  margin-bottom: 2rem;
}

.btn {
  background-color: none;
  border: none;
  outline: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 1.5rem;
  margin-top: 7rem;
}

.btn.btn-primary {
  background-color: var(--write);
  color: var(--primary-color);
  font-weight: 600;
  font-size: 1.7rem;
  border: 1px solid var(--black);
  box-shadow: 0.2rem 0.2rem rgb(0, 0, 0);
  font-size: 18px;
}

.btn-cv {
  margin-top: 5rem;
  background-color: var(--write);
  color: var(--primary-color);
  font-weight: 600;
  font-size: 1.7rem;
  border: 1px solid var(--black);
  box-shadow: 0.2rem 0.2rem rgb(0, 0, 0);
  font-size: 16px;
}

.max-width {
  width: 100%;
  max-width: 130rem; /*140rem*/
  padding: 0 4rem;
  margin: 0 auto;
  margin-bottom: 15%; /* Alterar */
}

.mb-0 {
  margin-bottom: 0;
}

.mb-s {
  margin-bottom: 1rem;
}

.mb-m {
  margin-bottom: 2rem;
}

.mb-l {
  margin-bottom: 4rem;
}

.mb-xl {
  margin-bottom: 6rem;
}

@media only screen and (max-width: 1024px) {
  html {
    font-size: 60%;
  }

  h1 {
    font-size: 6rem;
  }
}

@media (min-width: 767px) and (max-width: 900px) {
  html {
    font-size: 60%;
  }

  .header__left h1{
    font-size: 3.4rem;
  }

  .header__left p{
    font-size: 15px;
  }

  .header__left a{
    width: 2 0%;
  }

  .header__img  {
    width: 90%;
  }

  .navbar__links a {
    padding: 1rem;
    display: inline-block;
    font-size: 1.2rem;
  }

  .header__subtitle {
    font-size: 2rem;
    color: var(--primary-color);
  }
}

@media only screen and (max-width: 768px) {
  html {
    font-size: 58%;
  }

  .max-width {
    padding: 0 2rem;
  }
}

@media only screen and (max-width: 425px) {
  h1 {
    font-size: 4.2rem;
  }
}
