@import './variables.css';
@import './globals.css';

/* Navbar */

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background-color: var(--white);
}

.navbar .navbar__content {
    padding: 3rem 4rem 1rem; /* Ajustar */
    display: flex;
    justify-content: space-between;
}

.navbar .navbar__content .navbar__links li {
    display: inline-block;
}

.navbar .navbar__content .navbar__links li:not(:last-of-type) {
    margin-right: 2rem;
}

.navbar .navbar__content .navbar__links a {
    padding: 1rem;
    display: inline-block;
    font-size: 1.8rem;
}

.navbar .navbar__content .navbar__links a:hover {
    color: var(--tertiary-color);
}

/*Navbar Mobile */

.navbar.active {
    box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.1);
}

.navbar .navbar__content .navbar__mobile,
.navbar .navbar__content .navbar__mobile .mobile__links {
    display: none;
}

/*Mobile */

@media only screen and (max-width: 768px) {
    .navbar .navbar__content .navbar__links {
        display: none;
    }

    .navbar .navbar__content .navbar__mobile {
        display: flex;
        align-items: center;
    }

    .navbar .navbar__content .navbar__mobile img {
        width: 3.6rem;
        height: 3.6rem;
        cursor: pointer;
    }

    .navbar .navbar__content .navbar__mobile.active .mobile__links {
        display: flex;
        flex-direction: column;
        background-color: var(--white);
        width: 100%;
        position: absolute;
        top: 98%;
        left: 0;
        padding: 1rem 0;
        box-shadow: 0 0.4rem 0.5rem rgba(0, 0, 0, 0.1);
        z-index: 1;
    }

    .navbar .navbar__content .navbar__mobile.active .mobile__links li {
        margin-right: 0;
    }

    .navbar .navbar__content .navbar__mobile.active .mobile__links li a {
        padding: 1rem;
        display: block;
        text-align: center;
    }
}

/* Header */ 

header {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    gap: 4rem;
    scroll-margin-top: 20rem;
}

header .header__left {
    margin-top: 5%;
    max-width: 62rem;
    flex: 1;
}

header .header__left p {
    margin-top: 2rem;
    margin-bottom: 4rem;
    max-width: 50rem;
}

@media only screen and (max-width: 768px) {
    header {
        flex-direction: column-reverse;
        text-align: center;
    }

    header .header__left p {
        margin: 2rem auto 4rem;
    }
}

/* About */

.about {
    display: flex;
    justify-content: space-between;  
    gap: 4rem;
    scroll-margin-top: 20rem;
}

.about .about__left {
    max-width: 40rem;
    flex: 1;
}

.about .about__left p {
    margin: 1rem 0 2rem;
}

.about .about__left ul {
    margin-left: -1.2rem;
}

.about .about__left ul li {
    display: inline-block;
}

.about .about__left ul li a {
    display: inline-block;
    padding: 1rem;
}

.about .about__right {
    flex: 1;
    max-width: 66rem;
}

@media only screen and (max-width: 768px) {
    .about {
        flex-direction: column;
        align-items: center;
    }

    .about .about__left {
        max-width: 66rem;
        text-align: center;
    }

    .about .about__right {
        text-align: center;
    }
}

/* Skills */

.skills {
    background-color: var(--light-tertiary-color);
    scroll-margin-top: 15rem;
}

.skills .skills__content {
    padding: 6rem 4rem;
    text-align: center;
}

.skills .skills__content .description {
    max-width: 56rem;
    margin: 0 auto 6rem;
}

.skills .skills__content ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr)); 
    gap: 2rem;
}

.skills .skills__content ul li .image-container {
    background-color: var(--white);
    padding: 2rem;
    border-radius: 50%;
    width: 7rem;
    height: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.3);
    margin: 0 auto;
}

.skills .skills__content ul li h3 {
    font-size: 1.6rem;
    font-weight: 800;
    margin: 2rem 0 1rem;
}

.skills .skills__img {
    width: 190%;
}

/* Projects */

.projects {
    margin-bottom: 16rem;
    scroll-margin-top: 15rem;
}

.projects .projects__content {
    max-width: 56rem;
    text-align: center;
    margin: 0 auto 6rem;
}

.projects ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    margin: 12rem 0; /* Ajustar */
}

.projects ul li.projects__reversed-list {
    flex-direction: row-reverse;
    text-align: right;
}

.projects ul li::not(:last-of-type) {
   margin-bottom: 12rem;
}

.projects ul li .image img {
    width: 100%;
    min-width: 40rem;
    max-width: 47rem;
    height: auto;
}

.projects ul li .projects__info {
    max-width: 47rem;
}

.projects ul li .projects__info p {
    margin: 1rem 0 0rem;
}

.projects ul li .projects__info a {
    font-weight: 500;
    text-decoration: underline;
}

.projects__img {
    width: 30px;
    display: inline-block;
}


@media only screen and (max-width: 768px) {
    .projects ul li,
    .projects ul li.projects__reversed-list {
        flex-direction: column;
        text-align: center;
    }

    .projects ul li .projects__info {
        max-width: 66rem;
    }

    .projects ul li .image img {
        min-width: auto;
    }
}

/* Footer */

footer {
    background-color: var(--light-tertiary-color);
}

footer .footer__content {
    text-align: center;
    padding: 6rem 2rem 1rem;
    max-width: 47rem;
}

footer .footer__content .footer__contact span {
    display: block;
    font-weight: 500;
}

footer .footer__content ul li {
    display: inline-block;
}

footer .footer__content ul a {
    display: inline-block;
    padding: 1rem;
}

footer .footer__content .footer__copyright {
    font-size: 1.4rem;
}
